<%- include('layout/header.ejs'); -%>
<div class="sheetContainer ">
    <div class="aboutLeft"> 
        <h2>Hi to all. I am Agata. I hope that thanks to this blog I will infect you with my passion for traveling. 
            So you'll find: </h2>
            <div class= "conteiner iconsConteiner">
            <i class="far fa-lightbulb fa-3x homeIcon"><h3 class="headingIcon">travel ideas</h3></i>
            <i class="far fa-comment-dots fa-3x homeIcon"><h3  class="headingIcon">expedition reports</h3></i>
            <i class="fas fa-utensils fa-3x homeIcon"><h3 class="headingIcon">where to eat</h3></i>
        </div>
    </div>
    <div class="aboutRight"> 
      <img src="https://png.clipart.me/istock/previews/6383/63830497-traveler-and-elements-for-hike-and-camp.jpg">
    </div>
</div>
<%- include('layout/footer.ejs'); -%>