<div class="amazingTravel">
<%- include('layout/header.ejs'); -%>
<div class="parallax">
    <div class="container parallax1">
        <h1 class="parallax1Heading"> Discover previously unknown</h1>
        <a href="/home"><button type="button" class="btn btn-success btn-lg parallaxButton">View more</button></a>
    </div>
</div>
<div class=" followInstagramBackground">
    <div class="row">
        <div class="followInstagramLeft col-lg-5 col-md-12">
            <img src="https://fejmowo.pl/wp-content/uploads/2017/11/how-to-get-more-likes-on-instagram-likes.png">
        </div>
        <div class="foloowInstaRight col-lg-7 col-md-12 ">
            <h1 class="hollowInstaHeading">FOLLOW MY INSTAGRAM</h1>
            <h2> There you will find reports from the latest travels.</h2>
            <a href="#"><button type="button" class="btn  btn-outline-danger followInstaButton">FOLLOW<i
                        class="fab fa-instagram instaIcon"></i></button></a>
        </div>
    </div>
</div>

<div class="parallax2">
    <h1 class="parallax2Heading"> Stay and look for your own inspiration for a new adventure. </h1>
</div>

<%- include('layout/footer.ejs'); -%>
</div>