<%- include('layout/header.ejs'); -%>
<div class="allPage">
    <div class="loginPage">
        <form class=" form" action="/login" method="POST">
            <div class="form-group ">
                <input type="email" class="form-control" name="username" id="exampleInputEmail1"
                    aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group ">
                <input type="password" class="form-control" name="password" id="exampleInputPassword1"
                    placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary button">Log In</button>
            <a href="/signUp" role="button" class="btn btn-primary button">Sign Up</a>
        </form>
        <div class="card loginWithGoogle">
            <div class="card-body">
                <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
                    <i class="fab fa-google"></i> Sign in with Google
                </a>
            </div>
        </div>
    </div>
</div>
<%- include('layout/footer.ejs'); -%>